.sidebar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__top {
    &__title {
      margin-bottom: 40px;
      font-size: 24px;
      text-align: center;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        border-radius: 8px;
        font-size: 18px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.3s;
        &__icon {
          font-size: 32px;
        }
        &:hover {
          background-color: #fff;
          color: #000;
          transition: 0.3s;
        }
        &__active {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  &__bottom {
    &__button {
      width: 100%;
    }
  }
}
